@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 20px 30px; /* Adjusted padding */
  max-width: 345px;
}

.image {
  margin-bottom: 20px; /* Reduced margin */
}

.title {
  font-size: 22px; /* Adjusted font size */
  font-weight: 700;
  margin-bottom: 8px; /* Added margin for spacing */
}

.description {
  margin-top: 6px;
  font-size: 16px; /* Reduced font size for better proportion */
  font-weight: 400;
  line-height: 1.4; /* Added line height for better readability */
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px; /* Increased gap for better spacing */
  list-style: none;
}

.skill {
  font-size: 14px; /* Reduced font size */
  font-weight: 400;
  border-radius: 20px; /* Adjusted border radius for better look */
  background: var(--color-dark);
  padding: 5px 15px; /* Adjusted padding */
}

.links {
  width: 100%;
  margin-top: 20px; /* Reduced margin */
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px; /* Reduced font size */
  font-weight: 600;
  border-radius: 20px; /* Adjusted border radius */
  background: var(--color-primary);
  padding: 6px 18px; /* Adjusted padding */
}
